# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Ignore txt files we don't want on production. Note that we *do* want
# C63708BF4C8197E90B3514508108A213.txt, which is used by Comodo for
# domain ownership confirmation on the SSL certificate 
robots.txt
CHANGELOG.txt
COPYRIGHT.txt
INSTALL.mysql.txt
INSTALL.pgsql.txt
INSTALL.sqlite.txt
INSTALL.txt
LICENSE.txt
MAINTAINERS.txt
README.txt
UPGRADE.txt

# Ignore the sass-cache directory
sites/all/themes/toolshed/.sass-cache/*
