@charset "UTF-8";
html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5em;
  font-family: "WeissenhofGrotesk-Regular", Helvetica, Arial, sans-serif;
  letter-spacing: 0.03em;
}

a:link, a:visited {
  color: #1c6ea0;
  text-decoration: none;
}

a:hover, a:active {
  color: #42a9be;
  text-decoration: none;
}

#site-name {
  font-size: 2.2em;
  line-height: 1.3em;
  font-weight: 300;
  padding: 0 0 0.5em;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.3em;
  font-family: "Trebuchet MS", "Helvetica Neue", Arial, Helvetica, sans-serif;
}

h1 {
  font-size: 2.2em;
  font-weight: 300;
  padding: 0.5em 0 0.5em;
  margin: 0;
}

h1.title {
  font-weight: 700;
  font-size: 2em;
  color: #424242;
  margin-top: 0.5em;
}

h2 {
  font-size: 1.8em;
  font-weight: 300;
  margin-bottom: 0.75em;
}

h3 {
  font-size: 1.4em;
  margin-bottom: 1em;
}

h4 {
  font-size: 1.2em;
  margin-bottom: 0.8em;
}

h5 {
  font-size: 1.1em;
  font-weight: 600;
  margin-bottom: 0;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}

p {
  margin: 0 0 1em 0;
}

ul, ol {
  margin-left: 0;
  padding-left: 0;
}

table {
  width: 100%;
}

tr.even td,
tr.odd td {
  padding: 10px 5px;
}
tr.even td.active,
tr.odd td.active {
  background-color: transparent;
}

tr.odd {
  background-color: white;
}

pre, code, tt {
  font: 1em "andale mono", "lucida console", monospace;
  line-height: 1.5;
}

pre {
  background-color: #efefef;
  display: block;
  padding: 5px;
  margin: 5px 0;
  border: 1px solid #aaaaaa;
}

ul {
  list-style-type: disc;
}
ul ul {
  list-style-type: circle;
}
ul ul ul {
  list-style-type: square;
}
ul ul ul ul {
  list-style-type: circle;
}

ol {
  list-style-type: decimal;
}
ol ol {
  list-style-type: lower-alpha;
}
ol ol ol {
  list-style-type: decimal;
}

abbr {
  border-bottom: 1px dotted #666666;
  cursor: help;
  white-space: nowrap;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}

#edit-title {
  font-size: 24px;
  width: 99%;
}

#system-themes-form img {
  width: 100px;
}

.form-item .description {
  font-style: italic;
  line-height: 1.2em;
  font-size: 0.8em;
  margin-top: 5px;
  color: #777777;
}

#edit-delete {
  color: #cc0000;
}

div.messages {
  padding: 9px;
  margin: 1em 0;
  color: #003366;
  background: #bbddff;
  border: 1px solid #aaccee;
  word-wrap: break-word;
}

div.warning {
  color: #884400;
  background: #ffee66;
  border-color: #eedd55;
}

div.error {
  color: white;
  background: #ee6633;
  border-color: #dd5522;
}

div.status {
  color: #336600;
  background: #ccff88;
  border-color: #bbee77;
}

#sidebar-first,
#sidebar-second,
#navigation {
  background: rgba(170, 170, 170, 0.2);
}

#header {
  background: #7dcab2;
  background-image: url("/sites/all/themes/toolshed/images/grid-back.png");
}

#footer {
  background: #f7f3ed;
}

.block-masquerade {
  background: #424242;
  color: #fff;
  text-align: center;
  font-size: 0.8em;
}

.block-masquerade .form-submit {
  display: inline-block;
  padding: 0.75em 1.5em;
  background: #ffb53e;
  border-radius: 6px;
  border: none;
}

.feed-icon {
  display: none;
}

.page-taxonomy-term article {
  margin: 2em 0 2em 0;
}
.page-taxonomy-term article .node-title-a {
  display: none;
}
.page-taxonomy-term article h1 {
  font-size: 16px;
}
.page-taxonomy-term article .submitted {
  font-style: italic;
  font-size: 16px 8;
  color: #999999;
}

.page-node .content > div,
.page-node .content > fieldset {
  margin-top: 1em;
  margin-bottom: 1em;
}

.node-type-conference-presentation h1.title,
.node-type-program-info h1.title,
.node-type-training-resource h1.title {
  display: none;
}

.node-file .comment_forbidden {
  display: none;
}

.node-file .author * {
  display: inline-block;
  vertical-align: top;
  margin: 0 0 0 0;
}

.node-file .author .field-name-field-source-library-region {
  background: none;
  padding: 0;
  border-top: 0;
}

.node-type-program-info .field-type-file .file-download {
  background: #ef4a23;
}

.field-name-field-web-link a,
.field-type-file .file-download {
  font-family: "WeissenhofGrotesk-Medium", Helvetica, Arial, sans-serif;
  font-size: 0.875em;
  width: 10.36em;
  padding-top: 0.2em;
  border-radius: 1em;
  background: #ffb53e;
  color: white;
  display: block;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto 0.25em auto;
}

.node-type-program-info .node-file .node-header::before,
.node-type-program-info .field-name-field-web-link a,
.node-type-program-info .field-type-file .file-download {
  background: #ef4a23;
}

.node-type-conference-presentation .node-file .node-header::before,
.node-type-conference-presentation .field-name-field-web-link a,
.node-type-conference-presentation .field-type-file .file-download {
  background: #1d467d;
}

div.field.field-name-field-source-library-region {
  margin-bottom: 0;
}

.node-conference-presentation .field-name-field-source-library-region {
  background: #c6d1de;
}

.field-name-field-source-library-region {
  background: #ffeccf;
  padding: 1em 2em;
  border: 0;
  border-top: 0.1em solid #7b7b7b;
  margin: 0;
  display: block;
  text-align: center;
}
.field-name-field-source-library-region a {
  color: #424242;
  font-family: "WeissenhofGrotesk-Medium", Helvetica, Arial, sans-serif;
  font-style: normal;
}

.view-frontpage {
  font-family: "Roboto", Trebuchet, sans-serif;
  padding: 0.5em;
}
.view-frontpage .views-row {
  margin: 2em 0 2em 0;
}
.view-frontpage .views-row .views-field {
  text-align: center;
}
.view-frontpage .views-field-type {
  text-transform: uppercase;
  color: #7b7b7b;
  font-weight: bold;
  font-size: 0.8em;
}
.view-frontpage .views-field-title span a {
  color: #424242;
  font-weight: bold;
}
.view-frontpage .all-buttons {
  max-width: 14em;
  margin: auto;
}
.view-frontpage .all-buttons a {
  font-weight: 500;
  margin: 1.5em 0 0.5em 0;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s linear;
  border-radius: 0.25em;
  color: #fff;
  padding: 0.5em 1em;
  font-size: 0.875em;
  cursor: pointer;
  display: block;
}
.view-frontpage .presentation {
  background: #1d467d;
}
.view-frontpage .programs {
  background: #ef4a23;
}
.view-frontpage .resources {
  background: #ffb53e;
}
.view-frontpage .block-search {
  text-align: center;
}
.view-frontpage .block-search .form-text {
  border: 0.1em solid #7b7b7b;
  border-radius: 99em;
  font-size: 1.5em;
  font-weight: 500;
  padding: 0.2em 0.5em 0.2em 2em;
  color: #7b7b7b;
  background: #fff;
}
.view-frontpage .search-block-form::before {
  font-family: "Fontawesome";
  content: "";
  font-size: 1.5em;
  color: #424242;
  margin-right: -1.7em;
  position: relative;
  z-index: 1;
}

.view-toolshed-blog .views-row {
  margin-bottom: 3em;
}
.view-toolshed-blog .views-field-title a {
  font-size: 1.8em;
  font-weight: 700;
  line-height: 1.2em;
  margin-bottom: 0.75em;
}
.view-toolshed-blog .views-field-title a:link, .view-toolshed-blog .views-field-title a:visited {
  color: #424242;
}
.view-toolshed-blog .views-field-title a:hover, .view-toolshed-blog .views-field-title a:active {
  color: #757575;
}
.view-toolshed-blog .views-field-created {
  color: #666;
  font-style: italic;
  font-size: 0.8em;
}

.views-exposed-form .form-item {
  border: 0 !important;
}

.select2-container--default span .select2-selection--multiple,
.views-exposed-form .form-item .form-text {
  border: 0.1em solid #7b7b7b;
  border-radius: 1em;
  padding: 5px;
  margin: 1px;
  font-size: 1.2em;
}

.page-browse .form-submit {
  border-radius: 8px;
  background-color: #424242;
  color: white;
}
.page-browse .block-facetapi .form-item-facets::after {
  font-family: "Fontawesome";
  content: "";
  font-size: 1.2em;
  color: #424242;
  display: inline-block;
  position: relative;
  right: 4em;
  z-index: 1;
  margin: -0.5em -3em 0 2em;
}

.form-item-search-api-views-fulltext::before {
  font-family: "Fontawesome";
  content: "";
  font-size: 1.2em;
  color: #424242;
  display: inline-block;
  position: relative;
  right: 1em;
  z-index: 1;
  margin: -0.5em -3em 0 2em;
}

.form-item-search-api-views-fulltext #edit-search-api-views-fulltext {
  text-indent: 2.2em;
}

.page-search .views-exposed-widget {
  float: none;
}
.page-search .views-exposed-form .description {
  display: none;
}
.page-search .views-exposed-form .bef-secondary-options .form-item {
  margin: 0.5em;
}
.page-search .form-submit {
  color: white;
  border-radius: 6px;
  padding: 0.75em 1.5em;
  border: 0;
  min-width: 10em;
}
.page-search .views-reset-button, .page-search .views-submit-button {
  display: inline-block;
}
.page-search .views-exposed-form .form-item {
  display: inline-block;
}
.page-search .views-reset-button {
  float: left;
}
.page-search .views-submit-button {
  float: right;
}
.page-search .views-reset-button .form-submit {
  background-color: #ffb53e;
}
.page-search .views-submit-button .form-submit {
  background-color: #424242;
}
.page-search #edit-field-training-topic-value, .page-search #edit-field-primary-audience-value, .page-search #edit-field-length-of-program-session2-value,
.page-search #edit-field-conference-name-value, .page-search #edit-field-conference-year-value, .page-search #edit-field-source-library-region {
  width: 20em;
}
.page-search .select2-container .select2-search--inline .select2-search__field {
  margin: 10px 0 0 0;
}
.page-search .view-search-solr .form-type-select::after {
  font-family: "Fontawesome";
  content: "";
  font-size: 1.2em;
  color: #424242;
  display: inline-block;
  position: relative;
  right: 2em;
  z-index: 1;
}
.page-search .view-search-solr .form-item-field-content-type-selector::after {
  color: white;
}

.select2-selection--multiple .select2-search--inline .select2-search__field {
  width: auto !important;
}

@media screen and (min-width: 16.25em) {
  #site-name, .search-bar, .breadcrumb {
    display: none;
  }

  #header .container {
    text-align: center;
  }

  .container {
    padding: 0 5px;
  }

  #header .container #logo img {
    padding: 2em 0 0.5em 0;
    text-align: center;
  }

  footer {
    font-size: 0.75em;
    padding: 3em 0 2em 0;
  }

  .brought-to h3 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.16em;
  }
  .brought-to img {
    display: block;
    margin: 10px auto 10px auto;
  }

  footer .creativec p, footer .copyright p {
    margin: 1em 1.5em 1em 1.5em;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
  }

  .front header {
    padding: 1em 1em 0 0 !important;
  }
  .front header .toolshed-logo img {
    height: auto !important;
    padding: 0 0 0 1em;
    margin-left: auto;
    margin-right: auto;
  }

  .block-blurb {
    padding: 5px 0;
  }

  .view-frontpage .all-buttons {
    max-width: 14em;
  }

  .view-search-solr .views-reset-button, .view-search-solr .views-submit-button {
    padding: 0;
  }

  .page-taxonomy-term article h1 {
    font-size: 16px;
    padding: 0;
  }
  .page-taxonomy-term .submitted {
    font-size: 14px;
  }

  .facetapi-multiselect {
    width: 95%;
  }

  .view-browse .views-table .views-field-field-resource-type, .view-browse .views-table .views-field-created, .view-browse .views-table .views-field-field-source-library-region, .view-browse .views-table .views-field-field-piwik-node-views-nb-visits,
  .view-browse .views-table .views-field-field-primary-audience, .view-browse .views-table .views-field-field-session-frequency, .view-browse .views-table .views-field-field-source-library-region, .view-browse .views-table .views-field-field-piwik-node-views-nb-visits,
  .view-browse .views-table .views-field-field-source-library-region, .view-browse .views-table .views-field-field-conference-name, .view-browse .views-table .views-field-field-conference-year, .view-browse .views-table .views-field-field-piwik-node-views-nb-visits {
    display: none;
  }

  .view-search-solr .views-table .views-field-field-rating, .view-search-solr .views-table .views-field-created, .view-search-solr .views-table .views-field-node-field-source-library-region {
    display: none;
  }

  div .file-rating,
  div .field {
    margin: 1em 0 1em 0;
  }

  .embedded-video .player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
  }

  .embedded-video .player iframe,
  .embedded-video .player object,
  .embedded-video .player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media screen and (min-width: 45em) {
  #site-name {
    display: none;
  }

  .breadcrumb {
    display: inline-block;
    padding-top: 1em;
  }

  .search-bar {
    display: inline-block;
    float: right;
  }
  .search-bar .form-text {
    border-radius: 3em;
    border: 0;
    padding: 0.5em 5em 0.8em 3em;
    width: 16.75em;
    font-size: 1em;
  }
  .search-bar .form-submit {
    background: #1d467d;
    color: white;
    border: 0;
    border-radius: 2em;
    font-size: 0.8em;
    margin: 0 0 0 -5.2em;
    padding: 0.5em 0.75em;
    position: relative;
    top: 2px;
    min-width: unset;
  }

  .block-superfish {
    display: inline-block;
    float: left;
    width: 75%;
  }

  .page-browse-presentations .views-table .views-field-field-conference-name, .page-browse-presentations .views-table .views-field-field-conference-year {
    display: table-cell;
  }

  .page-browse-resources .views-table .views-field-field-resource-type, .page-browse-resources .views-table .views-field-created, .page-browse-resources .views-table .views-field-field-source-library-region {
    display: table-cell;
  }

  .page-browse-programs .views-table .views-field-field-primary-audience, .page-browse-programs .views-table .views-field-field-session-frequency {
    display: table-cell;
  }

  .view-search-solr .views-table .views-field-field-rating, .view-search-solr .views-table .views-field-node-field-source-library-region {
    display: table-cell;
  }

  .node-file {
    border: 0.1em solid #a0a0a0;
    position: relative;
  }
  .node-file .field-name-field-program-description {
    display: inline-block;
  }

  article > header {
    position: relative;
  }

  .view-frontpage .view-content .outter-wrapper {
    text-align: center;
  }
  .view-frontpage .view-content .field-inner-wrapper {
    display: inline-block;
    margin: 2em 1em 2em 1em;
    max-width: 12em;
    vertical-align: top;
  }
  .view-frontpage .view-content .views-row {
    display: inline;
  }
  .view-frontpage .all-buttons {
    max-width: none;
    min-width: 14em;
    text-align: center;
    margin-top: 2em;
  }
  .view-frontpage .all-buttons a {
    display: inline;
    margin: 0 1.7em 0 1.7em;
  }

  .page-node .content img {
    border: solid 1px #ccc;
    padding: 0.5em;
  }

  .page-taxonomy-term .node-file .node-header {
    float: none;
  }
  .page-taxonomy-term .node-file .links {
    padding-bottom: 2em;
  }

  div {
    display: block;
  }

  .node-file .node-header {
    width: 70%;
    float: left;
    padding: 2em 0 0 2em;
  }
  .node-file .node-header::before {
    font-family: "Fontawesome";
    content: "";
    font-size: 2.875em;
    padding: 0.6em 0.4em;
    margin-right: 0.4em;
    margin-bottom: 1em;
    background: #ffb53e;
    color: white;
    float: left;
  }
  .node-file h1 {
    margin: 0 0 0.5em 0;
    font-size: 1.5em;
    font-weight: bold;
    color: #424242;
  }
  .node-file .file-rating {
    position: absolute;
    top: 0;
    right: 0;
    padding: 2em 2em 0em 0em;
    text-align: center;
  }

  .node-file.null .node-header::before {
    content: "";
  }

  .node-file.DOCX .node-header::before {
    content: "";
  }

  .node-file.pdf .node-header::before {
    content: "";
  }

  .node-file.ppt .node-header::before {
    content: "";
  }

  .node-file .content .field-name-field-description,
  .node-file .content .field-name-field-program-description,
  .node-file .content .field-name-field-primary-audience,
  .node-file .content .field-name-field-secondary-audience,
  .node-file .content .field-name-field-resources-required-materia,
  .node-file .content .field-name-field-community-partners-,
  .node-file .content .field-name-field-project-link,
  .node-file .content .field-name-field-funding-grants-foundations,
  .node-file .content .field-name-field-program-budget,
  .node-file .content .field-name-field-program-goals,
  .node-file .content .field-name-field-feedback-from-participants,
  .node-file .content .field-name-field-highlights,
  .node-file .content .field-name-field-what-would-you-change,
  .node-file .content .field-name-field-program-photos,
  .node-file .content .field-name-field-video-link {
    padding: 1em 2em;
    clear: both;
  }

  .node-file .inline-group {
    width: 40%;
    display: inline-block;
    vertical-align: top;
    padding: 0 2em 2em 2em;
  }

  article.node-file fieldset.collapsible {
    padding: 0;
    margin: 0;
    border: 0;
    min-height: 3.25em;
  }
  article.node-file fieldset.collapsible legend {
    background: #d9d9d9;
    display: block;
    width: 98%;
    margin: 0;
    padding: 0.5em;
  }
  article.node-file fieldset.collapsible .fieldset-legend {
    background: none;
    font-family: "Roboto", Trebuchet, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    padding-left: 15px;
  }
  article.node-file fieldset.collapsible .fieldset-legend a {
    color: #424242;
    width: 100%;
    display: block;
  }
  article.node-file fieldset.collapsible .fieldset-legend a::before {
    font-family: "Fontawesome";
    content: "";
    margin-right: 0.25em;
    color: #424242;
  }

  article.node-file fieldset.collapsible.collapsed .fieldset-legend a::before {
    content: "";
  }

  .fieldset-legend span.summary {
    display: none;
  }

  fieldset.collapsible {
    position: relative;
  }
  fieldset.collapsible .fieldset-legend {
    display: block;
  }

  fieldset.group-conf-materials .field-name-field-training-doc-file {
    padding: 1em 2em 0 2em;
  }

  .field-name-field-training-topic {
    padding: 0.5em 2em 0 2em;
  }

  .brought-to {
    text-align: center;
  }
  .brought-to img {
    display: inline;
    margin: 2em;
  }
}
@media screen and (min-width: 60em) {
  .view-frontpage .view-content .outter-wrapper {
    text-align: center;
  }
  .view-frontpage .view-content .field-inner-wrapper {
    display: inline-block;
    margin: 2em 1em 2em 1em;
    max-width: 220px;
    vertical-align: top;
  }
  .view-frontpage .view-content .views-row {
    display: inline;
  }
  .view-frontpage .all-buttons {
    max-width: none;
    text-align: center;
    margin-top: 2em;
  }
  .view-frontpage .all-buttons a {
    display: inline;
    margin: 0 2.8em 0 2.8em;
  }

  .page-browse-resources .views-table .views-field-field-piwik-node-views-nb-visits {
    display: table-cell;
  }

  .page-browse-programs .views-table .views-field-field-source-library-region, .page-browse-programs .views-table .views-field-field-piwik-node-views-nb-visits {
    display: table-cell;
  }

  .page-browse-presentations .views-table .views-field-field-source-library-region, .page-browse-presentations .views-table .views-field-field-piwik-node-views-nb-visits {
    display: table-cell;
  }

  .view-search-solr .views-table .views-field-created {
    display: table-cell;
  }
}
.sf-menu.sf-style-toolshed li {
  background: #59bb9d;
}

.sf-menu.sf-style-toolshed li:hover,
.sf-menu.sf-style-toolshed li.sfHover {
  background: #7dcab2;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

label {
  font-weight: normal;
  margin-bottom: 5px;
}

input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="email"], input[type="month"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="time"], input[type="url"], input[type="week"], input:not([type]), textarea,
textarea,
select[multiple=multiple] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-transition: border-color 0.1s ease-in-out;
  -moz-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
  box-sizing: border-box;
  background-color: white;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 6.6666666667px;
  max-width: 100%;
}
input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, input:not([type]):hover, textarea:hover,
textarea:hover,
select[multiple=multiple]:hover {
  border-color: #999999;
}
input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus, input:not([type]):focus, textarea:focus,
textarea:focus,
select[multiple=multiple]:focus {
  border-color: black;
}

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 5px;
}

input[type="file"] {
  width: auto;
  padding-bottom: 10px;
}

select {
  max-width: 100%;
  width: auto;
  margin-bottom: 20px;
}

input[type="submit"] {
  background: transparent;
  border: 1px solid black;
  padding: 6.6666666667px 10px;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  -moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
input[type="submit"]:hover {
  background-color: black;
  color: white;
}

html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

/*# sourceMappingURL=style.css.map */
